* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #003399;
}

.quote {
    font-size: 2rem;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.quote::before {
    content: '" '
}

.quote::after {
    content: '" '
}

img {
    width: 400px;
    margin: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    object-fit: contain;
}

.intro {


    text-align: center;
}

header {
    font-size: 2rem;
    text-align: center;
}

.dob {
    font-style: italic;
}

.biography {

    padding: 20px;

}

h2 {
    margin-bottom: 20px;
    color: #F9F6EE;
}

.bnote {
    margin: 20px;
    background-color: #4682B4;
    box-shadow: 10px 10px 5px #4682B4;
    border-radius: 20px;
    padding: 30px;
    line-height: 2rem;
}

.career {
    padding: 20px;

}

.cnote {
    margin: 20px;
    background-color: #4682B4;
    box-shadow: 10px 10px 5px #4682B4;
    border-radius: 20px;
    padding: 30px;
    line-height: 2rem;

}



.presidency {
    padding: 20px;


}

.pnote {
    margin: 20px;
    background-color: #4682B4;
    box-shadow: 10px 10px 5px #4682B4;
    border-radius: 20px;
    padding: 30px;
    line-height: 2rem;

}

.quote2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 20px;

}

.death {

    padding: 20px;

}

.dnote {
    margin: 20px;
    background-color: #4682B4;
    box-shadow: 10px 10px 5px #4682B4;
    border-radius: 20px;
    padding: 30px;
    line-height: 2rem;

}
